.introduction {
    background: var(--gradient);
    display: flex;
    align-items: center;
    padding: 0 15%;
    height: 40vh;
    position: relative;
}

.introduction h1 {
    margin-top: 30px;
    width: 40%;
    color: var(--c-light);
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
}

.introduction .carousel.slide {
    width: clamp(200px, 40%, 400px);
    position: absolute;
    bottom: -300px;
    right: 20%;
    z-index: 2;
}

.introduction .carousel.slide .carousel-item img {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}

.h-separator {
    width: 100%;
    position: absolute;
    left: 0;
    top: 98%;
    z-index: 1;
}

.photo {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.photo:hover {
    transform: scale(1.1);
}

.section-title {
    margin-top: 30px;
    color: var(--c-pri-1);
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    text-align: center;
}

.section {
    margin-bottom: 120px;
}

.footer {
    background: var(--gradient);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 24px;
    align-items: center;
    position: relative;
}

.footer p {
    margin: 0;
    text-align: center;
    color: var(--c-pri-3);
}

.f-separator {
    width: 100%;
    position: absolute;
    bottom: 98%;
    left: 0;
}
